
body{
    background-color: slategray;
    margin-top: 2%;
}

th{
    border: solid black 2px;
}
td{
    border: solid black 2px;
    text-align: center;
}
table{
    background-color: white;
    margin: auto;
    border-spacing: 0px;
    margin-bottom: 1%;
    border: black solid 2px;
}
h2{

    display: flex;
    justify-content: center;
    font-weight: bold;
    
}

audio{
    margin-left: 2%;
}